@charset "UTF-8";
:root {
  --main-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /* text colors */
  --accent-cl: #ff6c00;
  --main-txt-cl: #555555;
  --secondary-txt-cl: #ffffff;
  /* background colors */
  --main-bg-cl: #ffffff;
  --secondary-bg-cl: #f7f7f7;
  --dark-bg-cl: #191c26;
  /* grid items */
  --items: 1;
  --indent: 30px;
  /* animations */
  --slow-anim: 700ms ease;
  --fast-anim: 400ms ease-in-out;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/* Плавниий скролінг до секції */
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
  /* background-image: url(../images/stock.jpg); */
  /* background-size: 300px 300px; */
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.uppertitle {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.uppertitle::before {
  content: '';
  margin-right: 20px;
  display: block;
  width: 60px;
  height: 1px;
}

.uppertitle--mode-dark {
  color: rgba(157, 164, 189, 0.6);
}

.uppertitle--mode-dark:before {
  background-color: rgba(157, 164, 189, 0.6);
}

.uppertitle--mode-light {
  color: #303030;
}

.uppertitle--mode-light:before {
  background-color: #303030;
}

.section-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 1280px) {
  .section-title {
    font-size: 42px;
  }
}

.section-title--mode-light {
  color: #303030;
}

.section-title--mode-dark {
  color: #ffffff;
}

.subtitle {
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1280px) {
  .subtitle {
    font-size: 18px;
  }
}

.subtitle--mode-light {
  color: #555555;
}

.subtitle--mode-dark {
  color: #9da4bd;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.no-scroll {
  overflow: hidden;
}

.js-no-transparency {
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  background-color: rgba(16, 18, 27, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  4% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
  8% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  12% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  16% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes swing {
  0% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  4% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
  8% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  12% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  16% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes expand {
  0% {
    letter-spacing: -0.6em;
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes expand {
  0% {
    letter-spacing: -0.6em;
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-left-to-right {
  from {
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-left-to-right {
  from {
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-bottom-to-top {
  from {
    -webkit-transform: translatey(150px);
            transform: translatey(150px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-bottom-to-top {
  from {
    -webkit-transform: translatey(150px);
            transform: translatey(150px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-top {
  from {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  to {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@keyframes slide-top {
  from {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  to {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 448px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 448px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1200px;
  }
}

/**
  |============================
  | Сітка для колекції з елементів
  |============================
*/
.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
}

.grid-item {
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
      flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

/**
  |============================
  | Загальні стилі для кнопок
  |============================
*/
.btn {
  padding: 12px 20px;
  max-width: 200px;
  min-width: 160px;
  min-height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--accent-cl);
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: background-color var(--fast-anim);
  transition: background-color var(--fast-anim);
}

.btn:hover, .btn:focus {
  color: #ffffff;
  background-color: var(--accent-cl);
}

.btn--mode-light {
  color: #303030;
}

.btn--mode-dark {
  color: #ffffff;
}

/**
  |============================
  | Посилання на соц.мережі
  |============================
*/
/* Social icons */
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.socials-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  color: #303030;
  border-radius: 50%;
  -webkit-transition: color var(--fast-anim);
  transition: color var(--fast-anim);
}

.socials-link:hover,
.socials-link:focus {
  color: #ff6c00;
}

.socials-icon {
  fill: currentColor;
}

/* .socials-icon {
  fill: #303030;
}

.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: #ff6c00;
} */
.social-links-list:before {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  margin-right: 40px;
  background-color: #303030;
}

.social-links-item {
  margin-right: 40px;
}

.social-links-item:last-child {
  margin-right: 0;
}

.social-links-item-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
  -webkit-transition: color var(--fast-anim);
  transition: color var(--fast-anim);
}

.social-links-item-link:hover, .social-links-item-link:focus {
  color: var(--accent-cl);
}

/**
  |============================
  | Елементи слайдера
  |============================
*/
.slider__controls {
  position: absolute;
  right: 0;
  bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__item-controls {
  margin-right: 26px;
}

.slider__item-controls:last-child {
  margin-right: 0;
}

.slider__btn {
  width: 60px;
  height: 24px;
  padding: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: right;
  letter-spacing: 0.1em;
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--secondary-txt-cl);
  cursor: pointer;
}

.slider__btn--disable {
  text-align: left;
  color: rgba(157, 164, 189, 0.6);
  border-color: rgba(157, 164, 189, 0.6);
}

.slider__pagination {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 18px;
}

.slider__item {
  margin-left: auto;
  margin-bottom: 12px;
  width: 8px;
  height: 2px;
  background-color: #9da4bd;
}

.slider__item:last-child {
  margin-bottom: 0;
}

.slider__item--active {
  width: 100%;
  background-color: #fff;
}

/**
  |============================
  | fixed element
  |============================
*/
.scroll-to-top {
  position: fixed;
  bottom: 90px;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #ff6c00;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  -webkit-animation: slide-top 1s linear 2s infinite alternate both;
          animation: slide-top 1s linear 2s infinite alternate both;
}

.arrow-top {
  fill: #fff;
}

/**
  |============================
  | chat-menu
  |============================
*/
.chat-menu {
  position: fixed;
  right: 30px;
  bottom: 90px;
}

.chat-menu-btn {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url(https://gist.githubusercontent.com/yazdipour/91dea3fdf97dba702ed89a6a1b9a98a7/raw/8c4870d4fda64c6f8dbf9d12d579d1ad66c3f360/rainbowcat.gif);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 10;
}

.chat-menu-list {
  position: absolute;
  top: 2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.chat-menu-item {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.chat-menu-btn:hover ~ .chat-menu-list .chat-menu-item {
  -webkit-transform: translateY(calc(var(--item) * -30px)) translateX(-50%);
          transform: translateY(calc(var(--item) * -30px)) translateX(-50%);
}

.chat-menu-icon {
  fill: #ff6c00;
}

/**
  |============================
  | modal form
  |============================
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity var(--fast-anim), visibility var(--fast-anim);
  transition: opacity var(--fast-anim), visibility var(--fast-anim);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  padding: 25px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-transition: opacity 300ms ease-in-out 200ms, -webkit-transform 300ms ease-in-out 200ms;
  transition: opacity 300ms ease-in-out 200ms, -webkit-transform 300ms ease-in-out 200ms;
  transition: transform 300ms ease-in-out 200ms, opacity 300ms ease-in-out 200ms;
  transition: transform 300ms ease-in-out 200ms, opacity 300ms ease-in-out 200ms, -webkit-transform 300ms ease-in-out 200ms;
}

/* початковий стан елемента перед анімацією */
.backdrop.is-hidden .modal-wrapper {
  -webkit-transform: translate(-50%, -50%) scale(0.4);
          transform: translate(-50%, -50%) scale(0.4);
  opacity: 0;
}

/* кінцевий стан елемента після анімації */
.backdrop .modal-wrapper {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid #ff6c00;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

/* modal form */
.modal-title {
  display: block;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}

.modal-form__group {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.modal-form__label {
  position: relative;
  display: inline-block;
  font-size: 14px;
}

.modal-form__label:before {
  content: '\002A';
  position: absolute;
  top: 0;
  right: -12px;
  color: #e22f37;
}

/* Стилізація інпута */
.modal-form__input {
  width: 100%;
  padding: 12px 40px;
  border-radius: 5px;
  border: 1px solid #191c26;
  outline: transparent;
}

.modal-form__input:invalid:not(:placeholder-shown) {
  border-color: #e22f37;
}

.modal-form__input:valid:not(:placeholder-shown) {
  border-color: #69e883;
}

/* Стилізація іконок на інпуті */
.modal-form__icon {
  position: absolute;
  bottom: 12px;
  left: 10px;
  fill: #303030;
  -webkit-transition: fill 400ms ease-in-out;
  transition: fill 400ms ease-in-out;
}

.modal-form__input:focus ~ .modal-form__icon {
  fill: #ffc039;
}

.modal-form__input:valid:not(:placeholder-shown) ~ .modal-form__icon {
  fill: #69e883;
}

.modal-form__input:invalid:not(:placeholder-shown) ~ .modal-form__icon {
  fill: #e22f37;
}

/* Стилізація попереджень для інпутів */
.alert {
  position: absolute;
  bottom: -22px;
  left: 10px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 10px;
  letter-spacing: -0.6em;
  opacity: 0;
  -webkit-transition: 400ms ease-out 100ms;
  transition: 400ms ease-out 100ms;
}

.alert--error {
  color: #e22f37;
}

.alert--warning {
  color: #ffc039;
}

.alert-icon {
  position: absolute;
  right: 10px;
  bottom: 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  fill: currentColor;
  opacity: 0;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  -webkit-transition: opacity 300ms ease-in-out 100ms, -webkit-transform 300ms ease-in-out 100ms;
  transition: opacity 300ms ease-in-out 100ms, -webkit-transform 300ms ease-in-out 100ms;
  transition: opacity 300ms ease-in-out 100ms, transform 300ms ease-in-out 100ms;
  transition: opacity 300ms ease-in-out 100ms, transform 300ms ease-in-out 100ms, -webkit-transform 300ms ease-in-out 100ms;
}

.alert-icon--warning {
  fill: #ffc039;
}

.alert-icon--error {
  fill: #e22f37;
}

.modal-form__input:focus ~ .alert--warning,
.modal-form__input:focus ~ .alert-icon--warning {
  letter-spacing: 0.01em;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.modal-form__input:not(:placeholder-shown) ~ .alert--warning,
.modal-form__input:not(:placeholder-shown) ~ .alert-icon--warning {
  opacity: 0;
}

.modal-form__input:invalid:not(:placeholder-shown) ~ .alert--error,
.modal-form__input:invalid:not(:placeholder-shown) ~ .alert-icon--error {
  letter-spacing: 0.01em;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

/* checkbox style */
.modal-form__policy-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 35px;
}

.modal-form__custom-checkbox {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  outline: 2px solid #ff6c00;
  outline-offset: -2px;
  -webkit-transition: background-color 300ms ease-in;
  transition: background-color 300ms ease-in;
}

.modal-form__checkbox:checked + .modal-form__custom-checkbox {
  background-color: #ff6c00;
}

.modal-form__custom-checkbox-icon {
  fill: #ffffff;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}

.modal-form__checkbox:checked + .modal-form__custom-checkbox .modal-form__custom-checkbox-icon {
  opacity: 1;
}

.modal-form__policy-desc {
  font-size: 16px;
}

.modal-form__policy-link {
  color: #ff6c00;
}

/* payment checkbox */
.modal-form__pay-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.modal-form__pay-group:not(:last-child) {
  margin-right: 20px;
}

.modal-form__pay-option {
  fill: #ff6c00;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: -webkit-filter 400ms ease-in-out;
  transition: -webkit-filter 400ms ease-in-out;
  transition: filter 400ms ease-in-out;
  transition: filter 400ms ease-in-out, -webkit-filter 400ms ease-in-out;
}

.modal-form__pay-checkbox:checked + .modal-form__pay-option {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.modal-form__submit-btn {
  display: block;
  margin: 0 auto;
}

/**
  |============================
  | form
  |============================
*/
.contacts-left-side {
  width: 570px;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 44px;
}

.form-wrapper .form-group {
  position: relative;
  padding-top: 20px;
}

.form-wrapper .form-group:not(:last-child) {
  margin-right: 30px;
}

.form-label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  color: #ffffff;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.form-input {
  width: 270px;
  padding: 5px;
  color: #fff;
  outline: transparent;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  -webkit-transition: border-color 400ms ease;
  transition: border-color 400ms ease;
}

.form-input::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.form-input:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.form-input::-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.form-input::placeholder {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.form-input:focus::-webkit-input-placeholder {
  opacity: 1;
}

.form-input:focus:-ms-input-placeholder {
  opacity: 1;
}

.form-input:focus::-ms-input-placeholder {
  opacity: 1;
}

.form-input:focus::placeholder {
  opacity: 1;
}

.form-input:focus,
.form-input:not(:placeholder-shown) {
  border-bottom: 1px solid #fff;
}

.form-message {
  width: 100%;
  color: #fff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: transparent;
  resize: none;
  -webkit-transition: border-color 400ms ease;
  transition: border-color 400ms ease;
}

.form-message:focus,
.form-message:not(:placeholder-shown) {
  border-bottom: 1px solid #fff;
}

.form-message::-webkit-input-placeholder {
  opacity: 0;
}

.form-message:-ms-input-placeholder {
  opacity: 0;
}

.form-message::-ms-input-placeholder {
  opacity: 0;
}

.form-message::placeholder {
  opacity: 0;
}

.form-message-group {
  position: relative;
  padding-top: 20px;
  width: 100%;
  margin-bottom: 44px;
}

.form-message:focus + .form-label,
.form-message:not(:placeholder-shown) + .form-label {
  color: #ffffff;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__contatcts {
  margin-top: auto;
}

/**
  |============================
  | Header section
  |============================
*/
.header {
  position: fixed;
  top: 0;
  width: 100vw;
  /* background-color: rgba(24, 27, 37, 0.4); */
  z-index: 10;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  margin-right: 71px;
}

/* Основна навігація сайту */
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__item {
  margin-right: 40px;
}

.navigation__item:last-child {
  margin-right: 0;
}

.navigation__link {
  position: relative;
  display: block;
  padding-top: 52px;
  padding-bottom: 52px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--secondary-txt-cl);
  -webkit-transition: color var(--fast-anim);
  transition: color var(--fast-anim);
}

.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-cl);
}

.navigation__link--current {
  color: #ff6c00;
}

.navigation__link--current::after {
  position: absolute;
  bottom: 30px;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ff6c00;
}

.header__gruop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.header__phone {
  display: block;
  padding-top: 52px;
  padding-bottom: 52px;
  margin-right: 40px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--secondary-txt-cl);
  -webkit-transition: color var(--fast-anim);
  transition: color var(--fast-anim);
}

.header__phone:hover,
.header__phone:focus {
  color: var(--accent-cl);
}

.header__btn {
  -webkit-animation: swing 6s ease-in-out infinite forwards;
          animation: swing 6s ease-in-out infinite forwards;
}

/**
  |============================
  | Hero section
  |============================
*/
.hero {
  max-width: 1280px;
  min-height: 680px;
  margin: 0 auto;
  background-color: #191c26;
  background-image: url(../images/hero/hero-bg.jpg), -webkit-gradient(linear, left top, right top, color-stop(12%, #fff), color-stop(12%, #191c26));
  background-image: url(../images/hero/hero-bg.jpg), linear-gradient(to right, #fff 12%, #191c26 12%);
  background-size: 1125px 680px, contain;
  background-position: top right, center;
  background-repeat: no-repeat;
}

.hero__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100px;
}

.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(-90deg) translateY(100%);
          transform: rotate(-90deg) translateY(100%);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.hero__group {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 100px;
  margin-top: 272px;
  margin-bottom: 206px;
}

.hero .uppertitle {
  -webkit-animation: expand 0.6s ease-in;
          animation: expand 0.6s ease-in;
}

.hero .main-title {
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: #ffffff;
  -webkit-animation: fade-left-to-right 1s ease-out;
          animation: fade-left-to-right 1s ease-out;
}

.hero .subtitle {
  width: 476px;
  -webkit-animation: fade-bottom-to-top 2s ease;
          animation: fade-bottom-to-top 2s ease;
}

/**
  |============================
  | About section
  |============================
*/
@media screen and (min-width: 768px) {
  .about__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767.98px) {
  .about-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .about-list {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .about-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 64px;
  }
}

.about-list__item {
  overflow: hidden;
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .about-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .about-list__item {
    margin-right: 30px;
  }
}

.about-list__img {
  -webkit-transition: -webkit-transform var(--slow-anim);
  transition: -webkit-transform var(--slow-anim);
  transition: transform var(--slow-anim);
  transition: transform var(--slow-anim), -webkit-transform var(--slow-anim);
}

.about-list__item:hover .about-list__img {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

@media screen and (min-width: 768px) {
  .about__group {
    width: 330px;
  }
}

@media screen and (min-width: 1280px) {
  .about__group {
    width: 500px;
  }
}

.about__subtitle {
  margin-bottom: 20px;
}

.about__description {
  margin-bottom: 40px;
}

/**
  |============================
  | Price section
  |============================
*/
.price {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: #111319; */
  /* Фонове зображення + градієнт */
  /**
    |============================
    | Завантаження звичайного фонового зображення для мобільної версії
    |============================
  */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/price/bg-price_sm.png), -webkit-gradient(linear, left top, left bottom, from(#191c26), to(#191c26));
  background-image: url(../images/price/bg-price_sm.png), linear-gradient(to bottom, #191c26, #191c26);
  background-image: -webkit-image-set(url(../images/price/bg-price_sm.webp) 1x), -webkit-gradient(linear, left top, left bottom, from(#191c26), to(#191c26));
  background-image: -webkit-image-set(url(../images/price/bg-price_sm.webp) 1x), linear-gradient(to bottom, #191c26, #191c26);
  /**
    |============================
    | Завантаження звичайного фонового зображення для планшету
    |============================
  */
  /**
    |============================
    | Завантаження звичайного фонового зображення для десктопної версії
    |============================
  */
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .price {
    background-image: url(../images/price/bg-price_sm@2x.png), -webkit-gradient(linear, left top, left bottom, from(#191c26), to(#191c26));
    background-image: url(../images/price/bg-price_sm@2x.png), linear-gradient(to bottom, #191c26, #191c26);
    background-image: -webkit-image-set(url(../images/price/bg-price_sm@2x.webp) 2x), -webkit-gradient(linear, left top, left bottom, from(#191c26), to(#191c26));
    background-image: -webkit-image-set(url(../images/price/bg-price_sm@2x.webp) 2x), linear-gradient(to bottom, #191c26, #191c26);
  }
}

@media screen and (min-width: 768px) {
  .price {
    background-image: url(../images/price/bg-price_md.png), -webkit-gradient(linear, left top, left bottom, from(#191c26), to(#191c26));
    background-image: url(../images/price/bg-price_md.png), linear-gradient(to bottom, #191c26, #191c26);
    background-image: -webkit-image-set(url(../images/price/bg-price_md.webp) 1x), -webkit-gradient(linear, left top, left bottom, from(#191c26), to(#191c26));
    background-image: -webkit-image-set(url(../images/price/bg-price_md.webp) 1x), linear-gradient(to bottom, #191c26, #191c26);
    background-image: -webkit-image-set(url(../images/price/bg-price_md@2x.webp) 2x), -webkit-gradient(linear, left top, left bottom, from(#191c26), to(#191c26));
    background-image: -webkit-image-set(url(../images/price/bg-price_md@2x.webp) 2x), linear-gradient(to bottom, #191c26, #191c26);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .price {
    background-image: url(../images/price/bg-price_md@2x.png), -webkit-gradient(linear, left top, left bottom, from(#191c26), to(#191c26));
    background-image: url(../images/price/bg-price_md@2x.png), linear-gradient(to bottom, #191c26, #191c26);
  }
}

@media screen and (min-width: 1280px) {
  .price {
    background-image: url(../images/price/bg-price_lg.png), -webkit-gradient(linear, left top, left bottom, from(#191c26), to(#191c26));
    background-image: url(../images/price/bg-price_lg.png), linear-gradient(to bottom, #191c26, #191c26);
    background-image: -webkit-image-set(url(../images/price/bg-price_lg@2x.webp) 2x), -webkit-gradient(linear, left top, left bottom, from(#191c26), to(#191c26));
    background-image: -webkit-image-set(url(../images/price/bg-price_lg@2x.webp) 2x), linear-gradient(to bottom, #191c26, #191c26);
    background-image: -webkit-image-set(url(../images/price/bg-price_lg@2x.webp) 2x), linear-gradient(to bottom, #191c26, #191c26);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .price {
    background-image: url(../images/price/bg-price_lg@2x.png), -webkit-gradient(linear, left top, left bottom, from(#191c26), to(#191c26));
    background-image: url(../images/price/bg-price_lg@2x.png), linear-gradient(to bottom, #191c26, #191c26);
  }
}

.price-list {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price-item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-transition: -webkit-transform var(--slow-anim);
  transition: -webkit-transform var(--slow-anim);
  transition: transform var(--slow-anim);
  transition: transform var(--slow-anim), -webkit-transform var(--slow-anim);
}

.price-item:first-child {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotateX(7deg) rotateY(25deg);
          transform: rotateX(7deg) rotateY(25deg);
}

.price-item:first-child:hover {
  -webkit-transform: rotateX(0deg) rotateY(5deg);
          transform: rotateX(0deg) rotateY(5deg);
}

.price-item:last-child {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#090b13), to(rgba(9, 11, 19, 0.2)));
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: rotateX(7deg) rotateY(-25deg);
          transform: rotateX(7deg) rotateY(-25deg);
}

.price-item:last-child:hover {
  -webkit-transform: rotateX(7deg) rotateY(-5deg);
          transform: rotateX(7deg) rotateY(-5deg);
}

.price-inner-list {
  padding: 30px 40px;
  font-size: 18px;
  line-height: 1.67;
  color: #9da4bd;
}

.price-inner-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.price-inner-item:not(:last-child) {
  margin-bottom: 20px;
}

.price-inner-item span:last-of-type {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.price-inner-item::after {
  content: '';
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  height: 1px;
  margin-left: 6px;
  margin-right: 6px;
  background-color: rgba(157, 164, 189, 0.12);
}

.price .btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/**
  |============================
  | Benefits section
  |============================
*/
.benefits-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benefits-stat {
  width: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.benefits-stat-item {
  width: 170px;
  padding: 20px;
  background-color: #f7f7f7;
}

.benefits-stat-item:nth-child(2n) {
  margin-left: 30px;
  margin-top: 30px;
}

.benefits-amount {
  position: relative;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}

.benefits-amount-decor {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: #ff6c00;
}

.benefits-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: center;
  color: #303030;
}

.benefits-group {
  width: 500px;
  margin-left: 130px;
}

/**
  |============================
  | Team section
  |============================
*/
.team {
  background-color: #f7f7f7;
}

.team .uppertitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}

.team .section-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #303030;
}

.member-item {
  --items: 1;
}

@media screen and (min-width: 1280px) {
  .member-item {
    --items: 3;
  }
}

.member-group {
  padding-top: 30px;
  padding-bottom: 30px;
}

.member-title {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  color: #303030;
}

.member-position {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  color: #ff6c00;
}

/**
  |============================
  | Gallery section
  |============================
*/
.gallery-uppertitle {
  margin-bottom: 44px;
}

.gallery .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* gap: 30px; */
  /* margin-right: -30px; */
  margin: -15px;
}

.gallery .item {
  position: relative;
  overflow: hidden;
  /* margin-right: 30px; */
  margin: 15px;
}

/* .gallery .item:last-child {
  margin-right: 0;
} */
.gallery .item::before {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(-45deg) translate(-80px, -10px);
          transform: rotate(-45deg) translate(-80px, -10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #ff6c00;
}

/**
  |============================
  | Contacts section
  |============================
*/
.contacts {
  max-width: 1280px;
  height: 644px;
  margin: 0 auto;
  background-color: var(--dark-bg-cl);
  background-image: url(../images/contacts/bg-contacts.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left calc(50% + 325px);
}

/**
  |============================
  | Footer section
  |============================
*/
.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.footer .item:not(:last-child) {
  margin-right: 40px;
}

.footer .link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.footer .link:hover,
.footer .link:focus {
  color: var(--accent-cl);
}
/*# sourceMappingURL=main.css.map */