:root {
  --main-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  --1: #ffff35;
  /* text colors */
  --accent-cl: #ff6c00;
  --main-txt-cl: #555555;
  --secondary-txt-cl: #ffffff;

  /* background colors */
  --main-bg-cl: #ffffff;
  --secondary-bg-cl: #f7f7f7;
  --dark-bg-cl: #191c26;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  color: var(--main-txt-cl);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  outline: 1px solid red;

  width: 1200px;

  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn {
  padding: 12px 20px;
  max-width: 200px;
  min-width: 160px;
  min-height: 40px;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  border: 1px solid var(--accent-cl);
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: #ffffff;
  background-color: var(--accent-cl);
}

.btn-mode-light {
  color: #303030;
}

.btn-mode-dark {
  color: #ffffff;
}

.slider-btn {
  width: 60px;
  height: 24px;
  padding: 0;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: right;
  letter-spacing: 0.1em;

  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--secondary-txt-cl);
  cursor: pointer;
}

.slider-btn-disable {
  text-align: left;

  color: rgba(157, 164, 189, 0.6);
  border-color: rgba(157, 164, 189, 0.6);
}

/**
  |============================
  | Header section
  |============================
*/
.header {
  background-color: #191c26;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 71px;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-item {
  margin-right: 40px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.navigation-link {
  color: var(--secondary-txt-cl);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-cl);
}

.header-gruop {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navigation-link,
.header-phone {
  display: block;

  padding-top: 52px;
  padding-bottom: 52px;

  font-weight: 600;
  font-size: 12px;

  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--secondary-txt-cl);
}

.header-phone {
  margin-right: 40px;
}

.header-phone:hover,
.header-phone:focus {
  color: var(--accent-cl);
}

/**
  |============================
  | Hero section
  |============================
*/
.hero {
  background-color: #191c26;
}

.hero .list {
  display: flex;
  align-items: center;
}

.hero .item {
  margin-right: 40px;
}
.hero .item:last-child {
  margin-right: 0;
}

.hero .link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: #303030;
}

.hero .link:hover,
.hero .link:focus {
  color: var(--accent-cl);
}

.hero-group {
  width: 476px;
}

.hero .uppertitle {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.6);
}

.hero .main-title {
  margin-bottom: 20px;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;

  color: #ffffff;
}
.hero .subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;

  color: #9da4bd;
}

/**
  |============================
  | About section
  |============================
*/

.about-container {
  display: flex;
}

.about .list {
  display: flex;
  margin-right: 64px;
}

.about .item {
  margin-right: 30px;
}

.about .item:last-child {
  margin-right: 0;
}

.about-group {
  width: 500px;
}

.about .uppertitle {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #303030;
}

.about .section-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: #303030;
}

.about .subtitle {
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;

  color: #555555;
}

.about .description {
  margin-bottom: 40px;
}

/**
  |============================
  | Price section
  |============================
*/
.price {
  background-color: #111319;
}

.price .uppertitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.6);
}

.price .section-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: #ffffff;
}

.price .inner-list {
  font-size: 18px;
  line-height: 1.67;

  color: #9da4bd;
}

/**
  |============================
  | Benefits section
  |============================
*/
.benefits-amount {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;

  color: #303030;
}
.benefits-amount-decor {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;

  color: #ff6c00;
}
.benefits-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;

  color: #303030;
}
.benefits .uppertitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #303030;
}

.benefits .section-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: #303030;
}

.benefits .subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;

  color: #555555;
}

/**
  |============================
  | Team section
  |============================
*/
.team {
  background-color: #f7f7f7;
}
.team .uppertitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #303030;
}

.team .section-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: #303030;
}

.member-title {
  font-size: 18px;
  line-height: 1.39;
  text-align: center;

  color: #303030;
}
.member-position {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;

  color: #ff6c00;
}

/**
  |============================
  | Gallery section
  |============================
*/
.gallery .uppertitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #303030;
}

.gallery .section-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: #303030;
}

/**
  |============================
  | Footer section
  |============================
*/
.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer .copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: #9da4bd;
}
.footer .link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: #303030;
}

.footer .link:hover,
.footer .link:focus {
  color: var(--accent-cl);
}
