body {
  height: 100vh;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

/* =========================== */
/* при виконанні ДЗ допускається скидання браузерних стилів для наступних елементів  h1, h2, h3, p, ul, ol*/
h1,
h2,
h3,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* =========================== */

.box {
  /* margin-bottom: 50px; */
  /* margin-right: 50px; */

  /* display: inline-block; */
  width: 585px;
  height: 240px;
  padding: 30px 40px;

  margin-left: auto;
  margin-right: auto;

  /* Скорочений запис */
  /* padding: 20px; */
  /* padding: 0 40px; */

  /* padding: 10px 40px 20px; */

  /* padding: 10px 20px 30px 40px; */

  /* Розгорнутий запис */
  /* padding-top: 0;
  padding-bottom: 0;
  padding-right: 40px;
  padding-left: 40px; */

  /* border: 10px dashed tomato; */

  /* border-bottom: 5px solid tomato;
  border-right: 5px solid tomato;
  border-left: 5px solid tomato; */

  /* border: 20px solid tomato; */

  /* border-bottom: 20px solid transparent;

  border-radius: 20px;
  border-bottom-right-radius: 50px; */

  /* margin: 50px; */

  background-color: blueviolet;
  color: white;
}

.box-1 {
  /* margin-top: 50px; */
  margin-left: 50px;

  display: inline-block;
  width: 585px;
  height: 240px;
  padding: 30px 40px;
  background-color: blueviolet;
  color: white;
}

.inner-box {
  width: 100%;
  height: 100%;
  background-color: darkmagenta;
}

.links {
  display: none;
  background-color: darkcyan;
}

.list {
  list-style: none;
  background-color: blueviolet;
}

.item {
  padding: 20px 0;
  background-color: tomato;
  outline: 1px solid red;
}

.item-link {
  color: white;
  text-decoration: none;
}

/* .item:first-child {
  background-color: teal;
} */

/* .item:last-child {
  background-color: gold;
} */

/*

an + b - лічильник

a - період циклу
n - 0+ infinity
b - зміщення

*/
/* .item:nth-child(2n + 1) {
  background-color: darkturquoise;
} */

/* .item:nth-child(2n) {
  background-color: orange;
} */

/* .item:nth-child(3n + 2) {
  background-color: orange;
} */

/* .item:nth-last-child(-n + 4) {
  background-color: orange;
} */

.title {
  margin-bottom: 30px;
}
