:root {
  --main-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* text colors */
  --accent-cl: #ff6c00;
  --main-txt-cl: #555555;
  --secondary-txt-cl: #ffffff;

  /* background colors */
  --main-bg-cl: #ffffff;
  --secondary-bg-cl: #f7f7f7;
  --dark-bg-cl: #191c26;

  /* grid items */
  --items: 1;
  --indent: 30px;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  color: var(--main-txt-cl);

  /* background-image: url(../images/stock.jpg); */
  /* background-size: 300px 300px; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  /* outline: 1px solid red; */

  width: 1200px;

  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/**
  |============================
  | Сітка для колекції з елементів
  |============================
*/
.grid {
  display: flex;
  flex-wrap: wrap;

  gap: var(--indent);
}

.grid-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.btn {
  padding: 12px 20px;
  max-width: 200px;
  min-width: 160px;
  min-height: 40px;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  border: 1px solid var(--accent-cl);
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: #ffffff;
  background-color: var(--accent-cl);
}

.btn-mode-light {
  color: #303030;
}

.btn-mode-dark {
  color: #ffffff;
}

.slider-btn {
  width: 60px;
  height: 24px;
  padding: 0;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: right;
  letter-spacing: 0.1em;

  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--secondary-txt-cl);
  cursor: pointer;
}

.slider-btn-disable {
  text-align: left;

  color: rgba(157, 164, 189, 0.6);
  border-color: rgba(157, 164, 189, 0.6);
}

/**
  |============================
  | Header section
  |============================
*/
.header {
  background-color: #191c26;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 71px;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-item {
  margin-right: 40px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.navigation-link {
  color: var(--secondary-txt-cl);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-cl);
}

.header-gruop {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navigation-link,
.header-phone {
  display: block;

  padding-top: 52px;
  padding-bottom: 52px;

  font-weight: 600;
  font-size: 12px;

  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--secondary-txt-cl);
}

.header-phone {
  margin-right: 40px;
}

.header-phone:hover,
.header-phone:focus {
  color: var(--accent-cl);
}

/**
  |============================
  | Hero section
  |============================
*/
.hero {
  background-color: #191c26;
}

.hero .list {
  display: flex;
  align-items: center;
}

.hero .item {
  margin-right: 40px;
}
.hero .item:last-child {
  margin-right: 0;
}

.hero .link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: #303030;
}

.hero .link:hover,
.hero .link:focus {
  color: var(--accent-cl);
}

.hero-group {
  width: 476px;
}

.hero .uppertitle {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.6);
}

.hero .main-title {
  margin-bottom: 20px;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;

  color: #ffffff;
}
.hero .subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;

  color: #9da4bd;
}

/**
  |============================
  | About section
  |============================
*/

.about-container {
  display: flex;
}

.about .list {
  display: flex;
  margin-right: 64px;
}

.about .item {
  margin-right: 30px;
}

.about .item:last-child {
  margin-right: 0;
}

.about-group {
  width: 500px;
}

.about .uppertitle {
  margin-bottom: 20px;

  display: flex;
  align-items: center;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #303030;
}

.about .uppertitle::before {
  content: '';
  margin-right: 20px;

  display: block;
  width: 60px;
  height: 1px;
  background-color: #111319;
}

.about .section-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: #303030;
}

.about .subtitle {
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;

  color: #555555;
}

.about .description {
  margin-bottom: 40px;
}

/**
  |============================
  | Price section
  |============================
*/
.price {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: #111319; */
  /* Фонове зображення + градієнт */
  background-image: url(../images/price/bg-price.png), linear-gradient(to bottom, #191c26, #191c26);

  background-repeat: no-repeat;
  background-position: center;

  background-size: cover;
}

.price .uppertitle {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.6);
}

.price .section-title {
  margin-bottom: 44px;

  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: #ffffff;
}

.price-list {
  margin-bottom: 50px;

  display: flex;
}

.price-item {
  flex-basis: 50%;
}

.price-item:first-child {
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.price-item:last-child {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price-inner-list {
  padding: 30px 40px;
  font-size: 18px;
  line-height: 1.67;

  color: #9da4bd;
}

.price-inner-item {
  display: flex;
  align-items: baseline;
}

.price-inner-item:not(:last-child) {
  margin-bottom: 20px;
}

.price-inner-item span:last-of-type {
  order: 2;
}

.price-inner-item::after {
  content: '';
  flex-grow: 1;
  order: 1;
  height: 1px;
  margin-left: 6px;
  margin-right: 6px;

  background-color: rgba(157, 164, 189, 0.12);
}

.price .btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/**
  |============================
  | Benefits section
  |============================
*/
.benefits-amount {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;

  color: #303030;
}
.benefits-amount-decor {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;

  color: #ff6c00;
}
.benefits-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;

  color: #303030;
}
.benefits .uppertitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #303030;
}

.benefits .section-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: #303030;
}

.benefits .subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;

  color: #555555;
}

/**
  |============================
  | Team section
  |============================
*/
.team {
  background-color: #f7f7f7;
}
.team .uppertitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #303030;
}

.team .section-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: #303030;
}

.member-item {
  --items: 3;
}

.member-title {
  font-size: 18px;
  line-height: 1.39;
  text-align: center;

  color: #303030;
}
.member-position {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;

  color: #ff6c00;
}

/**
  |============================
  | Gallery section
  |============================
*/
.gallery .uppertitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #303030;
}

.gallery .section-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: #303030;
}

.gallery .list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 30px; */
  /* margin-right: -30px; */
  margin: -15px;
}

.gallery .item {
  /* margin-right: 30px; */
  margin: 15px;
  flex-basis: calc((100% - 120px) / 4);
}
/* .gallery .item:last-child {
  margin-right: 0;
} */

/**
  |============================
  | Contacts section
  |============================
*/
.contacts {
  max-width: 1280px;
  height: 644px;
  margin: 0 auto;

  background-color: var(--dark-bg-cl);
  background-image: url(../images/contacts/bg-contacts.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left calc(50% + 325px);
}

/**
  |============================
  | Footer section
  |============================
*/
.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer .container {
  display: flex;
  align-items: center;
}

.footer .copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: #9da4bd;
}

.footer .list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.footer .item:not(:last-child) {
  margin-right: 40px;
}

.footer .link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: #303030;
}

.footer .link:hover,
.footer .link:focus {
  color: var(--accent-cl);
}
