%btn {
  padding: 12px 20px;
  max-width: 200px;
  min-width: 160px;
  min-height: 40px;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  border: 1px solid var(--accent-cl);
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;

  transition: background-color var(--fast-anim);
}
