/**
  |============================
  | Елементи слайдера
  |============================
*/

.slider__controls {
  position: absolute;
  right: 0;
  bottom: 40px;

  display: flex;
  align-items: center;
}

.slider__item-controls {
  margin-right: 26px;

  &:last-child {
    margin-right: 0;
  }
}

.slider__btn {
  width: 60px;
  height: 24px;
  padding: 0;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: right;
  letter-spacing: 0.1em;

  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--secondary-txt-cl);
  cursor: pointer;

  &--disable {
    text-align: left;

    color: rgba(157, 164, 189, 0.6);
    border-color: rgba(157, 164, 189, 0.6);
  }
}
