.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px;

  display: flex;
  flex-direction: column;

  transform: translateX(100%);

  background-color: #fff;

  @include mq(tablet) {
    display: none;
  }
}

.mobile-menu__contatcts {
  margin-top: auto;
}
