/**
  |============================
  | modal form
  |============================
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);

  transition: opacity var(--fast-anim), visibility var(--fast-anim);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  padding: 25px;

  background-color: #fff;
  border-radius: 10px;

  transition: transform 300ms ease-in-out 200ms, opacity 300ms ease-in-out 200ms;
}

/* початковий стан елемента перед анімацією */
.backdrop.is-hidden .modal-wrapper {
  transform: translate(-50%, -50%) scale(0.4);
  opacity: 0;
}

/* кінцевий стан елемента після анімації */
.backdrop .modal-wrapper {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;

  border: 1px solid #ff6c00;
  border-radius: 50%;
  background-color: transparent;

  cursor: pointer;
}

/* modal form */
.modal-title {
  display: block;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}

.modal-form__group {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.modal-form__label {
  position: relative;
  display: inline-block;
  font-size: 14px;
}

.modal-form__label:before {
  content: '\002A';
  position: absolute;
  top: 0;
  right: -12px;
  color: #e22f37;
}

/* Стилізація інпута */
.modal-form__input {
  width: 100%;
  padding: 12px 40px;

  border-radius: 5px;
  border: 1px solid #191c26;
  outline: transparent;
}

.modal-form__input:invalid:not(:placeholder-shown) {
  border-color: #e22f37;
}

.modal-form__input:valid:not(:placeholder-shown) {
  border-color: #69e883;
}

/* Стилізація іконок на інпуті */
.modal-form__icon {
  position: absolute;
  bottom: 12px;
  left: 10px;

  fill: #303030;
  transition: fill 400ms ease-in-out;

  .modal-form__input:focus ~ & {
    fill: #ffc039;
  }

  .modal-form__input:valid:not(:placeholder-shown) ~ & {
    fill: #69e883;
  }

  .modal-form__input:invalid:not(:placeholder-shown) ~ & {
    fill: #e22f37;
  }
}

/* Стилізація попереджень для інпутів */
.alert {
  position: absolute;
  bottom: -22px;
  left: 10px;

  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 10px;
  letter-spacing: -0.6em;
  opacity: 0;
  transition: 400ms ease-out 100ms;
}

.alert--error {
  color: #e22f37;
}

.alert--warning {
  color: #ffc039;
}

.alert-icon {
  position: absolute;
  right: 10px;
  bottom: 12px;
  display: inline-flex;
  fill: currentColor;
  opacity: 0;
  transform: scale(0.3);

  transition: opacity 300ms ease-in-out 100ms, transform 300ms ease-in-out 100ms;
}

.alert-icon--warning {
  fill: #ffc039;
}

.alert-icon--error {
  fill: #e22f37;
}

.modal-form__input:focus ~ .alert--warning,
.modal-form__input:focus ~ .alert-icon--warning {
  letter-spacing: 0.01em;
  opacity: 1;
  transform: scale(1);
}

.modal-form__input:not(:placeholder-shown) ~ .alert--warning,
.modal-form__input:not(:placeholder-shown) ~ .alert-icon--warning {
  opacity: 0;
}

.modal-form__input:invalid:not(:placeholder-shown) ~ .alert--error,
.modal-form__input:invalid:not(:placeholder-shown) ~ .alert-icon--error {
  letter-spacing: 0.01em;
  opacity: 1;
  transform: scale(1);
}

/* checkbox style */
.modal-form__policy-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
}

.modal-form__custom-checkbox {
  width: 20px;
  height: 20px;
  margin-right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 4px;
  outline: 2px solid #ff6c00;
  outline-offset: -2px;

  transition: background-color 300ms ease-in;
}

.modal-form__checkbox:checked + .modal-form__custom-checkbox {
  background-color: #ff6c00;
}

.modal-form__custom-checkbox-icon {
  fill: #ffffff;
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.modal-form__checkbox:checked + .modal-form__custom-checkbox .modal-form__custom-checkbox-icon {
  opacity: 1;
}

.modal-form__policy-desc {
  font-size: 16px;
}

.modal-form__policy-link {
  color: #ff6c00;
}

/* payment checkbox */
.modal-form__pay-type {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.modal-form__pay-group:not(:last-child) {
  margin-right: 20px;
}

.modal-form__pay-option {
  fill: #ff6c00;
  filter: grayscale(1);

  transition: filter 400ms ease-in-out;
}

.modal-form__pay-checkbox:checked + .modal-form__pay-option {
  filter: grayscale(0);
}

.modal-form__submit-btn {
  display: block;
  margin: 0 auto;
}
