/**
  |============================
  | fixed element
  |============================
*/
.scroll-to-top {
  position: fixed;
  bottom: 90px;
  right: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;

  background-color: rgba(255, 108, 0, 1);
  border: none;
  border-radius: 50%;
  cursor: pointer;

  animation: slide-top 1s linear 2s infinite alternate both;
}

.arrow-top {
  fill: #fff;
}
