/* Плавниий скролінг до секції */
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  color: var(--main-txt-cl);

  /* background-image: url(../images/stock.jpg); */
  /* background-size: 300px 300px; */
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.uppertitle {
  margin-bottom: 20px;

  display: flex;
  align-items: center;

  @include fonts(600, 11px, 15px, 0.1em, uppercase);
}

.uppertitle::before {
  content: '';
  margin-right: 20px;

  display: block;
  width: 60px;
  height: 1px;
}

.uppertitle--mode-dark {
  color: rgba(157, 164, 189, 0.6);
}

.uppertitle--mode-dark:before {
  background-color: rgba(157, 164, 189, 0.6);
}

.uppertitle--mode-light {
  color: #303030;
}

.uppertitle--mode-light:before {
  background-color: #303030;
}

.section-title {
  margin-bottom: 20px;

  // font-weight: 700;
  // font-size: 42px;
  // line-height: 1.16;
  // letter-spacing: 0.05em;

  @include fonts(700, 42px, 49px, 0.05em);
}

.section-title--mode-light {
  color: #303030;
}

.section-title--mode-dark {
  color: #ffffff;
}

.subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
}

.subtitle--mode-light {
  color: #555555;
}

.subtitle--mode-dark {
  color: #9da4bd;
}
