.container {
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;

  // mobile screen from 480px
  @media screen and (min-width: 480px) {
    width: 448px;
  }

  @include mq(mobile) {
    width: 448px;
  }
  // tablet screen
  // @media screen and (min-width: 768px) {
  //   width: 720px;
  // }

  @include mq(tablet) {
    width: 720px;
  }
  // desktop screen
  // @media screen and (min-width: 1280px) {
  //   width: 1200px;
  // }

  @include mq(desktop) {
    width: 1200px;
  }
}
