/**
  |============================
  | Footer section
  |============================
*/
.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer .container {
  display: flex;
  align-items: center;
}

.footer .copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: #9da4bd;
}

.footer .list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.footer .item:not(:last-child) {
  margin-right: 40px;
}

.footer .link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: #303030;
}

.footer .link:hover,
.footer .link:focus {
  color: var(--accent-cl);
}
