/**
  |============================
  | Price section
  |============================
*/
.price {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;

  /* background-color: #111319; */
  /* Фонове зображення + градієнт */
  /**
    |============================
    | Завантаження звичайного фонового зображення для мобільної версії
    |============================
  */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-image: url(../images/price/bg-price_sm.png),
    linear-gradient(to bottom, #191c26, #191c26);
  background-image: -webkit-image-set(url(../images/price/bg-price_sm.webp) 1x),
    linear-gradient(to bottom, #191c26, #191c26);

  // Завантаження ретінізованого 2х фонового зображення
  @include mq(retina) {
    background-image: url(../images/price/bg-price_sm@2x.png),
      linear-gradient(to bottom, #191c26, #191c26);

    background-image: -webkit-image-set(url(../images/price/bg-price_sm@2x.webp) 2x),
      linear-gradient(to bottom, #191c26, #191c26);
  }

  /**
    |============================
    | Завантаження звичайного фонового зображення для планшету
    |============================
  */
  @include mq(tablet) {
    background-image: url(../images/price/bg-price_md.png),
      linear-gradient(to bottom, #191c26, #191c26);
    background-image: -webkit-image-set(url(../images/price/bg-price_md.webp) 1x),
      linear-gradient(to bottom, #191c26, #191c26);

    // Завантаження ретінізованого 2х фонового зображення
    @include mq(retina) {
      background-image: url(../images/price/bg-price_md@2x.png),
        linear-gradient(to bottom, #191c26, #191c26);
    }
    background-image: -webkit-image-set(url(../images/price/bg-price_md@2x.webp) 2x),
      linear-gradient(to bottom, #191c26, #191c26);
  }

  /**
    |============================
    | Завантаження звичайного фонового зображення для десктопної версії
    |============================
  */
  @include mq(desktop) {
    background-image: url(../images/price/bg-price_lg.png),
      linear-gradient(to bottom, #191c26, #191c26);
    background-image: -webkit-image-set(url(../images/price/bg-price_lg@2x.webp) 2x),
      linear-gradient(to bottom, #191c26, #191c26);

    // Завантаження ретінізованого 2х фонового зображення
    @include mq(retina) {
      background-image: url(../images/price/bg-price_lg@2x.png),
        linear-gradient(to bottom, #191c26, #191c26);
    }
    background-image: -webkit-image-set(url(../images/price/bg-price_lg@2x.webp) 2x),
      linear-gradient(to bottom, #191c26, #191c26);
  }
}

.price-list {
  perspective: 1000px;
  margin-bottom: 50px;

  display: flex;
}

.price-item {
  flex-basis: 50%;
  transition: transform var(--slow-anim);
}

.price-item:first-child {
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  transform-origin: left;
  transform: rotateX(7deg) rotateY(25deg);
}

.price-item:first-child:hover {
  transform: rotateX(0deg) rotateY(5deg);
}

.price-item:last-child {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  transform-origin: right;
  transform: rotateX(7deg) rotateY(-25deg);
}

.price-item:last-child:hover {
  transform: rotateX(7deg) rotateY(-5deg);
}

.price-inner-list {
  padding: 30px 40px;
  font-size: 18px;
  line-height: 1.67;

  color: #9da4bd;
}

.price-inner-item {
  display: flex;
  align-items: baseline;
}

.price-inner-item:not(:last-child) {
  margin-bottom: 20px;
}

.price-inner-item span:last-of-type {
  order: 2;
}

.price-inner-item::after {
  content: '';
  flex-grow: 1;
  order: 1;
  height: 1px;
  margin-left: 6px;
  margin-right: 6px;

  background-color: rgba(157, 164, 189, 0.12);
}

.price .btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
