/**
  |============================
  | Team section
  |============================
*/
.team {
  background-color: #f7f7f7;
}

.team .uppertitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #303030;
}

.team .section-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: #303030;
}

.member-item {
  --items: 3;
}

.member-group {
  padding-top: 30px;
  padding-bottom: 30px;
}

.member-title {
  margin-bottom: 8px;

  font-size: 18px;
  line-height: 1.39;
  text-align: center;

  color: #303030;
}

.member-position {
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.36;
  text-align: center;

  color: #ff6c00;
}
